<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	{% if friends.count == 0 %}
		자료가 없어요
	{% else %}
		<table>
			<thead>
				<tr>
					<th>이름</th>
					<th>주소</th>
					<th>나이</th>
				</tr>
			</thead>
			<tbody>
				{% for tmp in friends %}
					<tr>
						<td>{{tmp.name}}</td>
						<td>{{tmp.address}}</td>
						<td>{{tmp.age}}</td>
					</tr>
				{% endfor %}
				<tr>
					<td colspan="3">{{friends.count}}명</td>
				</tr>
			</tbody>
		</table>
	{% endif %}
</body>
</html>